@mixin link {
    text-decoration: none;
    font-size: 14px;
    font-family: "Raleway";
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: left;
    background-color: #66d4f4;
    border-radius: 25px;
    padding: 17px 35px;
    transition: background .3s;
    &:hover{
        background-color: #40cefa;
    }
}
