body{
    margin: 0;
    padding: 0;
    font-family: 'Raleway', 'Roboto Slab', serif;;
}
*,
*::after,
*::before {
    box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6,p{
    margin: 0;  
}

ul{
    list-style-type: none;
}
.container {
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
}

button:focus{
    outline: none;
}

.none{
    display: none;
}

@import "./header";
@import "./info";
@import "./block";
@import "./slide";
@import "./price";
@import "./contacts";
@import "./footer";
@import "./peremena";